/*print*/
@media print
{    
	.no-print, .no-print *
	{
		display: none !important;
	}
	html, body {
		height:100%; 
		margin: 0 !important; 
		padding: 0 !important;

	}
	p{
		color: red;
	}

	table{
		width: 400px;
		float: left;
		margin-bottom: 10%;
		margin-left: 8%;
		height: 400px;
		text-align: center;
	}
	td, th {

		text-align: center;
		height: 90px;
		width: 90px;
		border: 1px solid #fff;
	}
	span{
		text-align: center;
		display: block;
		width: 60px;
		height: 60px;
		border: 1px solid #333;
		border-radius: 50%;
		line-height: 60px;
	}

    /*table { 
    width: 50%
    max-height: 100%;
    overflow: hidden;
    page-break-after: always;
    }*/
    .mystyle:first-child{
    	display: none;
    }
    .mystyle{
    	width: 50%
    	max-height: 100%;
    	overflow: hidden;
    	page-break-after: always;
    }
}